#  Assignment3P3

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/cricket_matches.csv')
df[:2]

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN

In [7]:
df1 = df[df['home'] == df['winner']]
df1.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN
5,Midlands/Wales/West Group:Gloucestershire v Wo...,Gloucestershire won by 4 wickets (with 5 balls...,Worcestershire 122 (19.5/20 ov); Gloucestershi...,14/06/2003,Bristol,Midlands/Wales/West Group,Gloucestershire,Worcestershire,Gloucestershire,NaN,...,10.0,19.5,20.0,Gloucestershire,126.0,6.0,19.1,20.0,NaN,NaN

In [8]:
# df2 = df1[df1['home'] == df1['innings2']]
df1['WinnerScore'] = np.where(df1['home'] == df1['innings2'], df1['innings2_runs'], df1['innings1_runs'])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
df2 = df1[['home','WinnerScore']]
df2.head()

              home  WinnerScore
0           Durham        160.0
1        Hampshire        153.0
3           Surrey        158.0
4   Worcestershire        151.0
5  Gloucestershire        126.0

In [14]:
dffinal = pd.DataFrame(df2.groupby(['home'])['WinnerScore'].mean())
dffinal

                                       WinnerScore
home
Abahani Limited                         172.000000
Abbottabad Falcons                      139.454545
Abbottabad Region                       182.666667
Abbottabad Rhinos                       165.000000
Adelaide Strikers                       163.111111
Afghanistan                             145.560976
Andhra                                  130.692308
Antigua                                 146.000000
Antigua Hawksbills                      106.000000
Antigua and Barbuda                     153.000000
Assam                                   139.000000
Auckland                                164.257143
Australia                               154.787879
Australia A                             174.000000
Azad Jammu & Kashmir Region             123.000000
Badureliya Sports Club                  155.000000
Bahawalpur Region                       154.600000
Bahawalpur Stags                        149.166667
Baluchistan                             217.000000
Bangladesh                              145.133333
Bangladesh A                            166.000000
Bangladesh XI                           132.000000
Barbados                                120.846154
Barbados Tridents                       147.615385
Barisal Bulls                           157.750000
Barisal Burners                         154.727273
Barisal Division                        118.000000
Baroda                                  148.714286
Basnahira                               141.666667
Basnahira Cricket Dundee                129.000000
...                                            ...
Sylhet Super Stars                      112.000000
Tamil Nadu                              172.000000
Tamil Union Cricket and Athletic Club   155.625000
Tasmania                                161.285714
Titans                                  155.475000
Trinbago Knight Riders                  170.000000
Trinidad & Tobago                       141.200000
Trinidad & Tobago Red Steel             153.818182
Udarata Rulers                          159.000000
Uganda                                  124.000000
United Arab Emirates                    139.083333
Uthura Rudras                           156.000000
Uthura Yellows                          158.000000
Uttar Pradesh                           151.142857
Uva Next                                101.000000
Victoria                                167.416667
Warriors                                145.085714
Warwickshire                            157.925000
Wayamba                                 131.750000
Wayamba United                          156.000000
Wellington                              166.352941
West Indies                             135.428571
West Indies A                           122.600000
Western Australia                       169.875000
Western Province                        151.500000
Western Troopers                        165.000000
Worcestershire                          168.058824
Yorkshire                               158.000000
Zimbabwe                                161.000000
Zimbabwe XI                             160.000000

[275 rows x 1 columns]

In [15]:
dffinal = dffinal.sort_values(['WinnerScore'], ascending = False)
dffinal.head()

                      WinnerScore
home
New Zealand A               227.0
Baluchistan                 217.0
India A                     214.0
Northerns (Zimbabwe)        198.5
Port Qasim Authority        190.0

In [16]:
dffinal.to_csv('Assignment3P3.csv')